---
title: Facilities Overview
---

%h1= current_page.data.title

/ Content
%h3 Core Instruments:
%p
	%strong 1. Dimension Icon Atomic Force Microscope
%p
	A Dimension Icon AFM (BrukerNano) is a versatile tool for many nanomechanical studies the quantification of material elasticity, poroviscoelasticity (via nanorheometer), friction and adhesion at the nanoscale. Our focuses are on soft connective tissues, cells, biomacromolecules and hydrogels. Features include:
%ul
	%li AFM imaging and force spectroscopy: contact mode and tapping mode imaging, friction force microscopy, ramp-and-hold force relaxation.
	%li A versatile sample stage for various biological samples with irregular shapes.
	%li Close looped X-Y scans: 90 μm × 90 μm limit.
	%li Close looped Z-scan: 12 μm limit.
	%li PeakForce Quantitative Nanomechanical Mapping (QNM): a new imaging mode that enables the mapping and of modulus and energy dissipation at a high spatial resolution of 10 nm.
	%li Mechanical tests of materials with a wide spectrum of moduli from 100Pa to 70GPa.
%p
	%strong 2. AFM-Nanorheometer
%p
	Our custom-built nanorheometer employs a secondary piezo to oscillate the testing sample at 2 – 50 nm amplitude during a ramp-and-hold AFM test. This light-weight oscillation stage has a broad frequency range of 1Hz – 10kHz, about hundred-fold wider than the commercial AFM. It is a necessary tool to study the time-dependent, energy dissipative mechanics of polymeric materials and biological tissue at the nanoscale.
%p
	%strong 3. Programmable Slide Stainer
%p
	A automated slide stainer is used for layer-by-layer (LbL) assembly of polymer complexes. This instrument enables well-controlled fabrication of LbL films up to hundreds pairs of polymer layers (bi-layers).
%p
	%strong 4. Electrospinning
%p
	Our custom-built electrospinning system has a rotating shaft for the fabrication of random and aligned polymer nanofibers.
%p
	%strong Other available instruments:
%ul
	%li Drexel Centralized Research Facilities: Focused Ion Beam, Instrumented Nanoindenter, Scanning Electron Microscopes, Transmission Electron Microscopes.
	%li NBIC: 3D Molecular Force Probe.
	%li Penn Center for Musculoskeletal Diseases (PCMD): histology, immunohistochemistry.