---
title: Research Overview
---

%h1= current_page.data.title

%p
	%strong
		1. Osteoarthritis: a new methodology infrastructure to link animal models with tissue reparative strategies

%p
	1.1 Articular Cartilage – Biochemical, structural and nanomechanical phenotype of transgenic mice is evaluated to directly reveal the roles of minor matrix proteoglycans and cytokines in cartilage development. In combination with surgery induced OA models, their roles in post-traumatic osteoarthritis will be uncovered. The current focus in on decorin, biglycan and bone morphogenetic protein-2. (B. Doyran, Q. Li, I. Roberts, S. Rozans)

%p
	1.2 Meniscus – The structure-mechanics relationships of meniscus, a crescent-shaped fibrocartilage, will be studied to reveal the origins of its unique, complex biomechanical function, and its degradation during osteoarthritis. Similar to articular cartilage, the roles of minor matrix molecules and cytokines will be revealed by studying transgenic murine models. (Q. Li, S. Rozans, L. Fan)

%p
	%strong
		2. Temporomandibular Joint (TMJ): function, biology and diseases

%p Temporomandibular Joint (TMJ) – TMJ OA is a prevailing oral disease in the elder population, characterized by the breakdown of the mechanically functional cartilaginous tissues of TMJ: condyle and articular disc. There is little knowledge of their mechanical function and structural features. Current goal is to understand the nanoscale structure-mechanics relationships of porcine TMJ tissues to help the design of TMJ tissue repair, and wild-type murine TMJ tissues to lay the ground for future studies on developmental biology and pathogenesis of TMJ OA. (B. Doyran, P. Chandrasekaran, L. Ouyang, K. Morgano)

%p
	%strong
		3. Nanomechanics of non-covalent hydrogel networks

%p
	Hydrogels are widely used as cell culture and tissue repair tools thanks to its similarity to biological tissues. Their mechanical properties are a key to these applications. However, current mechanical understanding is largely limited to the simplest hydrogels that are covalently cross-linked and isotropic. Here, the goal is to uncover the nanomechanics of hydrogels beyond the scope of covalent cross-linking. Time-dependent mechanisms, including fluid flow-induced poroelasticity and intrinsic macromolecular viscoelasticity will be addressed. A special focus is on the roles of physical cross-links, fixed charges and structural anisotropy of nanofibrous hydrogels. A series of newly developed AFM-testing methods are applied to layer-by-layer assembled networks, electrospun nanofibers, and combination of both forms. (B. Han, D. R. Chery, T. Ma, P. Patal, M. Rego)
