---
title: Overview
---

%h1= current_page.data.title

%h3 Principal Investigator
%p
	%strong Lin Han, Ph.D.
	%br
	Assistant Professor
	%br
	School of Biomedical Engineering, Science and Health Systems
	%br
	Drexel University
	%br
	Email:
	=mail_to "lh535@drexel.edu"


%h3 PhD Students
%ul
	%li
		Prashant Chandrasekaran
	%li
		Daphney Chery
	%li
		Basak Doyran
	%li
		Biao Han
	%li
		Qing Li

%h3 Masters Students
%ul
	%li Tianzhu Ma
	%li Ian Roberts
	%li Sam Rozans

%h3 Undergraduate Students
%ul
	%li Michael Rego
	%li Pavan Patel
	%li Krista Morgano

%h3 Visiting Scientists
%ul
	%li Li Fan
	%li Liu Ouyang

%h3 Alumni
%ul
	%li Chao Wang
