---
title: Publications List
---

%h1= current_page.data.title
<ol>
<h3>2015</h3>
<li>B. Han, D. R. Chery, J. Yin, X. L. Lu, D. Lee, and <strong>L. Han</strong>. Nanomechanics of layer-by-layer polyelectrolyte complexes: A manifestation of ionic cross-links and fixed charges. <em>Soft Matter</em> 2015. Accepted.</li>
<li>B. K. Connizzo, <strong>L. Han</strong>, D. E. Birk, and L. J. Soslowsky. Collagen V-heterozygous and -null supraspinatus tendons exhibit altered dynamic mechanical behavior at multiple hierarchical scales.&nbsp; <em>J. Royal Soc. Interf.</em> 2015. Accepted.</li>
<li>Y. Tang, G. Lin, <strong>L. Han</strong>, S. Qiu, S. Yang, and J. Yin. Engineering hierarchical cuts for extremely soft, high strength, and reconfigurable auxetic metamaterials. <em>Adv. Mater.</em> 2015. <a href="http://onlinelibrary.wiley.com/doi/10.1002/adma.201502559/full"> In press, doi: 10.1002/adma.201502559</a>.</li>
<li>Z. Zhang, Q. Li, <strong>L. Han</strong>, and Y. Zhong. Layer-by-layer films assembled from natural polymers for sustained release of neurotrophin. <em>Biomed. Mater.</em> 2015. <a href="http://iopscience.iop.org/article/10.1088/1748-6041/10/5/055006">10: 055006</a>.</li>
<li>L. Ruggiero, B. K. Zimmerman, M. Park, <strong>L. Han</strong>, L. Wang, D. L. Burris, and X. L. Lu. Roles of fibrous superficial zone in the mechanical behavior of TMJ condyle cartilage. <em>Ann. Biomed. Eng. </em>2015.<em> </em><a href="http://link.springer.com/article/10.1007%2Fs10439-015-1320-9">11: 2652-2662</a>.</li>
<li>Q. Li, B. Doyran, L. W. Gamer, X. L. Lu, L. Qin, C. Ortiz, A. J. Grodzinsky, V. Rosen, and <strong>L. Han</strong>. Biomechanical properties of murine meniscus surface via AFM-based nanoindentation. <em>J. Biomech. </em>2015.<em> </em><a href="http://www.sciencedirect.com/science/article/pii/S0021929015001578">48: 1364-1370</a>.</li>
<li>H. T. Nia, <strong>L. Han</strong>, I. S. Bozchalooi, P. Roughley, K. Youcef-Toumi, A. J. Grodzinsky, and C. Ortiz. Aggrecan nanoscale solid-fluid interactions are a primary determinant of cartilage dynamic mechanical properties. <em>ACS Nano </em>2015.<em> </em><a href="http://pubs.acs.org/doi/abs/10.1021/nn5062707">9: 2614-2625</a>. </li>
<li>B. Lee <sup>&Delta;</sup>, <strong>L. Han</strong>,<sup>&Delta;</sup> E. H. Frank, A. J. Grodzinsky, and C. Ortiz. Dynamic nanomechanics of individual bone marrow stromal cells and cell-matrix composites during chondrogenic differentiation. <em>J. Biomech. </em>2015. <a href="http://www.sciencedirect.com/science/article/pii/S0021929014005727">48: 171-175</a>. (<sup>&Delta;</sup>: equal contribution)</li>
</li>

<h3>2014</h3>
<li>B. K. Connizzo, J. J. Sarver, <strong>L. Han</strong>, and L. J. Soslowsky. In situ fibril stretch and sliding is location-dependent in mouse supraspinatus tendons. <em>J. Biomech</em>. 2014. <a href="http://www.sciencedirect.com/science/article/pii/S0021929014005508">47: 3794-3798</a>. </li>
<li>M. A. Batista, H. T. Nia, P. &Ouml;nnerfjord, K. A. Cox, C. Ortiz, A. J. Grodzinsky, D. Heineg&aring;rd, and <strong>L. Han</strong>. Nanomechanical phenotype of chondroadherin-null articular cartilage. <em>Matrix Biol. </em>2014<em>. </em><a href="http://www.sciencedirect.com/science/article/pii/S0945053X14000936">38: 84-90</a>.<em> </em></li>
</li>
<li>M. K. Saums, W. Wang, B. Han, L. Madhavan, <strong>L. Han</strong>, D. Lee, and R. G. Wells. Mechanically- and chemically-tunable cell culture system to study myofibroblast phenotype. <em>Langmuir </em>2014.<em> </em><a href="http://pubs.acs.org/doi/abs/10.1021/la4047758">30: 5481-5487</a><em>.</em></li>

<li>F. P. Rojas, M. A. Batista, C. A. Lindburg, D. Dean, A. J. Grodzinsky, C. Ortiz, and <strong>L. Han</strong>. Molecular adhesion between cartilage extracellular matrix macromolecules. <em>Biomacromolecules </em>2014<em>.</em> <a href="http://pubs.acs.org/doi/abs/10.1021/bm401611b">15: 772-780</a>.</li>

<li>C. A. Rock, <strong>L. Han</strong>, and T. C. Doehring. Complex fiber and membrane morphologies of the whole porcine aortic valve. <em>PLoS One </em>2014. <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0086087">9: e86087</a>.</li>

<h3>2013</h3>

<li>H. T. Nia, I. S. Bozchalooi, Y. Li, <strong>L. Han</strong>, H.-H. Hung, E. H. Frank, K. Youcef-Toumi, C. Ortiz, and A. J. Grodzinsky. High bandwidth AFM-based rheology reveals that cartilage is most sensitive to high loading rates at early stages of impairment. <em>Biophys. J.</em> 2013. <a href="http://www.sciencedirect.com/science/article/pii/S0006349513002774">104: 1529-1537</a>.</li>

<li>H.-Y. Lee,<sup>&Delta;</sup> <strong>L. Han</strong>,<sup>&Delta;</sup> P. J. Roughley, A. J. Grodzinsky, and C. Ortiz. Age-related nanostructural and nanomechanical changes of individual human cartilage aggrecan monomers and their glycosaminoglycan side chains. <em>J. Struct. Biol.</em> 2013. <a href="http://www.sciencedirect.com/science/article/pii/S1047847712003425">181: 264-273</a>. (<sup>&Delta;</sup>: equal contribution)</li>

<h3>2012 and Earlier</h3>
<li><strong>L. Han</strong>, J. Yin, L. Wang, K.-K. Chia, R. E. Cohen, M. F. Rubner, C. Ortiz, and M. C. Boyce. Tunable stimulus-responsive friction mechanisms of polyelectrolyte films and tube forests. <em>Soft Matter</em> 2012. <a href="http://pubs.rsc.org/en/Content/ArticleLanding/2012/SM/c2sm25503k#!divAbstract">8: 8642-8650</a>. </li>

<li>S. Y. Wong, <strong>L. Han</strong>, K. Timachova, J. Veselinovic, M. H. Hyder, C. Ortiz, A. M. Klibanov, and P. T. Hammond. Drastically lowered protein adsorption on microbicidal hydrophilic/hydrophobic polyelectrolyte multilayers. <em>Biomacromolecules</em> 2012. <a href="http://pubs.acs.org/doi/abs/10.1021/bm201637e">13: 719-726</a>.</li>

<li><strong>L. Han</strong>, L. Wang, K.-K. Chia, R. E. Cohen, M. F. Rubner, M. C. Boyce, and C. Ortiz. Geometrically controlled mechanically responsive polyelectrolyte tube arrays. <em>Adv. Mater.</em> 2011. <a href="http://onlinelibrary.wiley.com/doi/10.1002/adma.201102917/abstract">23:&nbsp; 4667-4673</a>. </li>

<li>H. T. Nia, <strong>L. Han</strong>, Y. Li, C. Ortiz, and A. J. Grodzinsky. Poroelasticity of cartilage at the nanoscale. <em>Biophys. J.</em> 2011. <a href="http://www.sciencedirect.com/science/article/pii/S0006349511010654">101: 2304-2313</a>.</li>

<li><strong>L. Han</strong>, L. Wang, J. Song, M. C. Boyce, and C. Ortiz. Direct quantification of the mechanical anisotropy and fracture of an individual exoskeleton layer via uniaxial compression of micropillars. <em>Nano Lett.</em> 2011. <a href="http://pubs.acs.org/doi/abs/10.1021/nl201968u">11: 3868-3874</a>. </li>

<li><strong>L. Han</strong>, A. J. Grodzinsky, and C. Ortiz. Nanomechanics of the cartilage extracellular matrix. <em>Annu. Rev. Mater. Res.</em> 2011. <a href="http://www.annualreviews.org/doi/abs/10.1146/annurev-matsci-062910-100431">41: 133-168</a>. </li>

<li><strong>L. Han</strong>, E. H. Frank, J. J. Greene, H.-Y. Lee, H. K. Hung, A. J. Grodzinsky, and C. Ortiz. Time-dependent nanomechanics of cartilage. <em>Biophys. J.</em> 2011. <a href="http://www.sciencedirect.com/science/article/pii/S0006349511002499">100: 1846-1854</a>. </li>

<li>B. Lee, <strong>L. Han</strong>, E. H. Frank, S. Chubinskaya, C. Ortiz, and A. J. Grodzinsky. Dynamic mechanical properties of the tissue-engineered matrix associated with individual chondrocytes. <em>J. Biomech.</em> 2010. <a href="http://www.sciencedirect.com/science/article/pii/S0021929009005740">43: 469-476</a>. </li>

<li>K. Tai, G. Pelled, D. Sheyn, A. Bershteyn, <strong>L. Han</strong>, I. Kallai, Y. Zilberman, C. Ortiz, and D. Gazit. Nanobiomechanics of repair bone regenerated by genetically modified mesenchymal stem cells. <em>Tissue Eng. A</em> 2008. <a href="http://online.liebertpub.com/doi/abs/10.1089/ten.tea.2007.0241?url_ver=Z39.88-2003&amp;rfr_id=ori%3Arid%3Acrossref.org&amp;rfr_dat=cr_pub%3Dpubmed&amp;">14: 1709-1720</a>. </li>

<li><strong>L. Han</strong>, D. Dean, L. A. Daher, A. J. Grodzinsky, and C. Ortiz. Cartilage aggrecan can undergo self-adhesion. <em>Biophys. J.</em> 2008. <a href="http://www.sciencedirect.com/science/article/pii/S0006349508786247">95: 4862-4870</a>. </li>

<li><strong>L. Han</strong>, D. Dean, P. Mao, C. Ortiz, and A. J. Grodzinsky. Nanoscale shear deformation mechanisms of opposing aggrecan macromolecules.<em> Biophys. J.</em> 2007. <a href="http://www.sciencedirect.com/science/article/pii/S0006349507714017">93: L23-L25</a>. </li>

<li><strong>L. Han</strong>, D. Dean, C. Ortiz, and A. J. Grodzinsky. Lateral nanomechanics of cartilage aggrecan macromolecules. <em>Biophys. J.</em> 2007. <a href="http://www.sciencedirect.com/science/article/pii/S0006349507709499">92: 1384-1398</a>.</li>

<li>M. Ye, D. Zhang, <strong>L. Han</strong>, J. Tejeda, and C. Ortiz. Synthesis, preparation and conformation of stimulus-responsive end-grafted poly(methacrylic acid-<em>g</em>-ethylene glycol) layers. <em>Soft Matter</em> 2006. <a href="http://pubs.rsc.org/en/Content/ArticleLanding/2006/SM/b510894b#!divAbstract">2: 243-256</a>. </li>

<li>D. Dean, <strong>L. Han</strong>, A. J. Grodzinsky, and C. Ortiz. Compressive nanomechanics of opposing aggrecan macromolecules. <em>J. Biomech.</em> 2006. <a href="http://www.sciencedirect.com/science/article/pii/S0021929005004082">39: 2555-2565</a>. </li>

<li>D. Dean, <strong>L. Han</strong>, C. Ortiz, and A. J. Grodzinsky. Nanoscale conformation and compressibility of cartilage aggrecan using microcontact printing and atomic force microscopy. <em>Macromolecules</em> 2005. <a href="http://pubs.acs.org/doi/abs/10.1021/ma047626k">38: 4047-4049</a>. </li>

<li>S. M. Zhang, F. Z. Cui, S. S. Liao, Y. Zhu, and <strong>L. Han</strong>. Synthesis and biocompatibility of porous nanohydroxyapatite/collagen/alginate composite. <em>J. Mater. Sci. Mater. Med.</em> 2003. <a href="http://link.springer.com/article/10.1023%2FA%3A1024083309982">14: 641-645</a>.</li>
</ol>