%h3 Recent Publications
%p

	%strong Impacts of maturation on the micromechanics of the meniscus extracellular matrix
	%br
	%em J. Biomech.
	%br
	2018
%hr

%p
	%strong Tendon healing affects the multiscale mechanical, structural, and compositional response of tendon to quasi-static tensile loading
	%br
	%em J. R. Soc. Interface
	%br
	2018
%hr

%p
	%strong Maturation state and matrix microstructure regulate interstitial cell migration in dense connective tissues
	%br
	%em Sci. Rep.
	%br
	2018

= link_to "Full List", "publications/list", class: "more-link"