%h3 Recent Publications
%p
	%strong Collagen V-heterozygous and -null supraspinatus tendons exhibit altered dynamic mechanical behavior at multiple hierarchical scales
	%br
	%em Journal of The Royal Society Interface
	%br
	2015 – Accepted
%hr

%p
	%strong Engineering hierarchical cuts for extremely soft, high strength, and reconfigurable auxetic metamaterials
	%br
	%em Advanced Materials
	%br
	2015 – Accepted
%hr

%p
	%strong Layer-by-layer films assembled from natural polymers for sustained release of neurotrophin
	%em Biomedical Materials
	%br
	2015

= link_to "Full List", "publications/list", class: "more-link"