%h3 Recent Publications
%p

	%strong Intermittent parathyroid hormone after prolonged alendronate treatment induces substantial new bone formation and increases bone tissue heterogeneity in ovariectomized rats
	%br
	%em J. Bone Miner
	%br
	2017 – In Press
%hr

%p
	%strong Biomimetic proteoglycans mimic macromolecular architecture and water uptake of natural proteoglycans
	%br
	%em Biomacromolecules
	%br
	2017 – In press
%hr

%p
	%strong Micromechanical anisotropy and heterogeneity of the meniscus extracellular matrix
	%br
	%em Acta Biomater
	%br
	2017

= link_to "Full List", "publications/list", class: "more-link"