%h3 Recent Publications
%p

	%strong AFM-nanomechanical test: an interdisciplinary tool that links the understanding of cartilage and meniscus biomechanics, osteoarthritis degeneration and tissue engineering
	%br
	%em ACS Appl. Mater. Interfaces 
	%br
	2017
%hr

%p
	%strong Self-similar hierarchical wrinkles as a potential multifunctional smart window with simultaneously tunable transparency, structural color, and droplet transport
	%br
	%em ACS Appl. Mater. Interfaces 
	%br
	2017
%hr

%p
	%strong Mutable polyelectrolyte tube arrays: mesoscale modeling and lateral force microscopy
	%br
	%em Soft Matter 
	%br
	2017 – In press

= link_to "Full List", "publications/list", class: "more-link"