---
title: Home
---

%ul.bxslider
  %li= image_tag "Cartilage-Hist.jpg", title: " Osteoarthritis: a new methodology infrastructure<br><a class='learn-more' href='research/overview'>Learn More</a>"
  %li= image_tag "TMJ-content.jpg", title: "Temporomandibular Joint (TMJ): function, biology and diseases<br><a class='learn-more' href='research/overview'>Learn More</a>"
  %li= image_tag "Polymers-slide.jpg", title: "Nanomechanics of non-covalent hydrogel networks<br><a class='learn-more' href='research/overview'>Learn More</a>"

%h3 Overview
%p The NanoBiomechanics Lab focuses on problems in biophysics and biomechanics of extracellular matrix, and more generally, the inner beings of mechanical features of polymer and biopolymer complexes.  These problems are motivated by diseases of soft connective tissues including osteoarthritis in the knee and temporomandibular joint. Our team utilizes atomic force microscopy nanomechanical tools, electron microscopy, histology/immunohistochemistry and other biochemical and biological assays to investigate the molecular structure and nanomechanical behavior of extracellular matrix molecules and tissues in healthy and diseased states. Specifically, our current research focuses on three topics:
%ol
  %li
    Osteoarthritis – roles of small leucine-rich proteoglycans and bone morphogenetic protein-2 in synovial tissue development and post-traumatic osteoarthritis
  %li
    Temporomandibular joints – structure, mechanics, biology and diseases
  %li
    Hydrogels – roles of weak cross-links, charges and fibrous structure in elastic, viscoelastic and plastic mechanics

= link_to "Research Overview", "research/overview", class: "more-link"
